<app-header></app-header>
<main>
  <div class="container">
    <div *ngIf="pswToken == null">
      <h3>Elfeljetett jelszó </h3>
      <form (submit)="submit()" [formGroup]="emailForm">
        <div class="form-group">
          <div class="mb-6 row">
            <label for="username" class="col-sm-4 col-form-label">Email cím</label>
            <div class="col-sm-8">
              <input type="email" class="form-control form-control-sm" id="username"
                     aria-describedby="username" formControlName="username"
                     [ngClass]="{'is-invalid': emailForm.controls.username.invalid && emailForm.controls.username.touched}">
              <div class="invalid-feedback" *ngIf="emailForm.controls.username.errors?.required">
                Add meg az email címedet!
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-lg btn-dark" [disabled]="emailForm.invalid" >Beküld</button>
      </form>
    </div>
    <div *ngIf="pswToken != null">
      <h3>Új jelszó megadása</h3>
      <form (submit)="changePassword()" [formGroup]="npswForm">
        <div class="form-group">
          <div class="mb-6 row">
            <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Jelszó</label>
            <div class="col-sm-8">
              <input type="password" class="form-control form-control-sm" id="exampleInputPassword1"
                     formControlName="password"
                     [ngClass]="{'is-invalid': npswForm.controls.password.invalid && npswForm.controls.password.touched}">
              <div class="invalid-feedback" *ngIf="npswForm.controls.password.errors?.required">
                Írj be egy jelszót!
              </div>
              <div class="invalid-feedback" *ngIf="npswForm.controls.password.errors?.min">
                Legalább 6 karakter hosszú legyen!
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-lg btn-dark" [disabled]="npswForm.invalid" >Beküld</button>
      </form>
    </div>
  </div>

</main>
<app-footer></app-footer>
