<app-header></app-header>
<main>
  <div class="container">
    <div *ngIf="pswToken == '0' || pswToken == null">
      <h3>Elfeljetett jelszó </h3>
      <form (submit)="submit()" [formGroup]="emailForm">
        <div class="form-group">
          <div class="mb-6 row">
            <label for="email" class="col-sm-4 col-form-label">Email cím</label>
            <div class="col-sm-8">
              <input type="email" class="form-control form-control-sm" id="email"
                     aria-describedby="email" formControlName="email"
                     [ngClass]="{'is-invalid': emailForm.controls.email.invalid && emailForm.controls.email.touched}">
              <div class="invalid-feedback" *ngIf="emailForm.controls.email.errors?.required">
                Add meg az email címedet!
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-lg btn-dark" [disabled]="emailForm.invalid" >Beküld</button>
      </form>
      <div  class="alert alert-success" *ngIf="showRegSuccess">
        Nézd meg az emailedet, hogy tovább léphess!
      </div>
      <div  class="alert alert-danger" *ngIf="showFailed">
        Upsz, hibás email cím vagy nem regisztráltál ezzel az email címmel.
      </div>
    </div>
    <div *ngIf="pswToken != '0' && pswToken != null">
      <h3>Új jelszó megadása</h3>
      <form (submit)="changePassword()" [formGroup]="npswForm">
        <div class="form-group">
          <div class="mb-6 row">
            <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Jelszó</label>
            <div class="col-sm-8">
              <input type="password" class="form-control form-control-sm" id="exampleInputPassword1"
                     formControlName="password"
                     [ngClass]="{'is-invalid': npswForm.controls.password.invalid && npswForm.controls.password.touched}">
              <div class="invalid-feedback" *ngIf="npswForm.controls.password.errors?.required">
                Írj be egy jelszót!
              </div>
              <div class="invalid-feedback" *ngIf="npswForm.controls.password.errors?.min">
                Legalább 6 karakter hosszú legyen!
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-lg btn-dark" [disabled]="npswForm.invalid" >Beküld</button>
      </form>
      <div  class="alert alert-success" *ngIf="showChanged">
        Kicseréltük a jelszavadat, beléphetsz az új jelszóval.
      </div>
      <div  class="alert alert-danger" *ngIf="showPswFailed">
        Upsz, valami nem jött össze, kérj új emailt!
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>
