<div class="modal-header">
  <img src="../../../assets/shopping-cart-1985%20(3).png" alt="">
  <h4 class="modal-title">Kosár tartalma</h4>

  <button type="button" class="btn btn-hidden" data-dismiss="modal" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">X</span>
  </button>
</div>
<div class="modal-body" id="cart-modal-body">
  <table class="table table-striped table-responsive table-borderless">
    <thead>
    <tr>
      <th scope="col">Termék</th>
      <th scope="col">Db</th>
      <th scope="col">Egységár</th>
      <th scope="col">Ár</th>
      <!--      <th scope="col">Subtotal</th>-->
      <th scope="col">Törlés</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr app-product-row *ngFor="let s of productsInCart" [orderedProduct]="s" (delete)="delete(s)" ></tr>
    <tr>
    <td class="table align-middle" colspan= "5" *ngIf="productsInCart.length === 0">A kosár még üres.</td>
    </tr>
    <tr>
      <td class="table align-middle" colspan= "5">{{productsInCart.length}} soros a terméklista.  Termékek összesített ára: {{sumPrice}} Ft.</td>
    </tr>
    <tr>
      <td class="table align-middle" colspan= "3">Szállítási költség: </td>
      <td class="table align-middle" colspan= "2"> {{deliveryFee}} Ft.</td>
    </tr>
    <tr>
      <td class="table align-middle" colspan= "3"> Fizetendő: </td>
      <td class="table align-middle" colspan= "2"> {{maxPrice}} Ft.</td>
    </tr>
    </tbody>
  </table>
</div>
  <div class="modal-footer">
  <div style="text-align: right">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Vissza</button>
    <button type="submit" class="btn btn-outline-success" [disabled]="productsInCart.length === 0" (click)="submit()" routerLink="/cart-page">Tovább a fizetéshez</button>
  </div>
</div>

