<app-header></app-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
    <h4>Gyakran feltett kérdések</h4>
    <ngb-accordion id="accordion1"  [closeOthers]="true">
      <ngb-panel  *ngFor=" let f of faqArr">
        <ng-template ngbPanelTitle>
          <span> {{f.question}}  </span>
        </ng-template>
        <ng-template ngbPanelContent class="temp1">
         {{f.answer}}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    </div>
    <div class="col-lg-6">
      <h4>{{aboutUs.title}}</h4>
      <p>{{aboutUs.subject}}</p>

        <h5 class="section-title h1">Csapatunk</h5>
        <div class="row">
          <div class="col-xs-12 col-sm-12" *ngFor="let p of partners">
            <app-partner-card [p]='p'></app-partner-card>
          </div>


        </div>

    </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

