<app-header></app-header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
    <h4>Gyakran feltett kérdések</h4>
    <ngb-accordion id="accordion1"  [closeOthers]="true">
      <ngb-panel  *ngFor=" let f of faqArr">
        <ng-template ngbPanelTitle>
          <span> {{f.question}}  </span>
        </ng-template>
        <ng-template ngbPanelContent class="temp1">
         {{f.answer}}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    </div>
    <div class="col-lg-6">
      <h4>{{aboutUs.title}}</h4>
      <p>{{aboutUs.subject}}</p>
    </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

