<div class="container-fluid">


    <div id="carouselContent" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-4">
          <h6>Hédi: <i>"Nagyon tetszik ez a honlap."</i></h6>
        </div>
        <div class="carousel-item text-center p-4">
          <h6>István:<i> "Szuper termékek"</i> </h6>
        </div>
        <div class="carousel-item text-center p-4">
          <h6>Gyöngyi:<i> "Élvezem a vásárlást"</i> </h6>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  <div class="row">
  <div class="col-lg-3">
   <h5> Elérhetőségeink:</h5>
    <span>Cím: 2565 Lajosmizse, Körte u.11.</span>
  </div>
    <div class="col-lg-3">
    <span>Tel.: +36-66-666-666</span><br>
    <span>Email cím: info@tele.com</span>

  </div>
  <div class="col-lg-3">
    <button class="btn btn-link  btn-sm" (click)="openScrollableContent()">Általános szerződési feltételek</button><br>
    <button class="btn btn-link  btn-sm" (click)="openScrollableContent()">Adatkezelési Tájékoztató</button>
  </div>
  <div class="col-lg-3">
    <span> Kövess minket:</span><br>
    <a href="#" class="facebook"><i class="fa fa-facebook">  </i>  Facebook     </a>
    <a href="#" class="google"><i class="fa fa-instagram">  </i>  Instagram</a>
  </div>
  </div>
</div>

