<div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
   <h5> Elérhetőségeink:</h5>
    <span>Cím: 2565 Lajosmizse, Körte u.11.</span>
  </div>
    <div class="col-md-3">
    <span>Tel.: +36-66-666-666</span><br>
    <span>Email cím: info@tele.com</span>

  </div>
  <div class="col-md-3">
    <a>Általános szerződési feltételek</a><br>
    <a>Adatkezelési Szabályzat</a>
  </div>
  <div class="col-md-3">
    <span> Kövess minket:</span><br>
    <a href="#" class="facebook"><i class="fa fa-facebook">  </i>  Facebook     </a>
    <a href="#" class="google"><i class="fa fa-instagram">  </i>  Instagram</a>
  </div>
  </div>
</div>
