.button, button {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(229, 228, 255, 0.0);
  color: rgba(33,37,41,1);

}
.bg-light{
  background-color: antiquewhite !important;
}
.dropdown-menu {
  background-color: antiquewhite !important;
}

.material-icons {
  margin-right: 5px;
  color: rgba(33,37,41,1);
}
.container-fluid {
  background-color: antiquewhite;
}

.collapse {
  background-color: antiquewhite;
}
p{
  margin: 12px;

}
.btn-sm{
  margin: 0 4px 4px 4px;
}
.wrapper{
  background-color: antiquewhite;
  position: relative;
}
.wrapper span{
  position: absolute;
  top: -2px;
  right: 5px;
  border-radius: 60%;
}
