<app-header></app-header>
<main >
  <div class="container">
    <div class="alert alert-warning" *ngIf="products.length == 0 && showError == false">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="showError == true">
      Sajnos, nincs ilyen termékünk.
    </div>
    <div class="row" *ngIf="products.length !== 0 && showError == false" >
      <div class="col-md-6 col-lg-4" *ngFor="let pr of products" >
        <app-product-card [pr]='pr' ></app-product-card>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
