#card {
  border-radius: 45%;
  background-color: rgba(255,255,255,0.7);
  border: hidden;

}
img {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 25px;
}
.row-col-11{

}
button{
  margin: 10px;

}
.card-body{
  text-align: center;
}
label{
  width: 60px;
}
input{
  width: 50px;
  background-color: rgba(229, 228, 255, 0.1);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  border-bottom-color: black;
  border-bottom-style: solid;
  font-size: 20px;
  text-align: center;
}
h6 {
  display: table;
  background-color: red;
  border: solid #dd4b39;
  transform: rotate(-45deg);
  color: white;
  position:relative;
  top: -15px;
  right: -5px;
}
#default {
  visibility: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


