<div class="card mt-5 mb-6" id="card">
  <div *ngIf=retrievedImage>
<img   [src]="retrievedImage" class="img-thumbnail" alt="">
  </div>
  <div *ngIf=!retrievedImage>
    <img   src="../../../assets/eper2.jpg" class="img-thumbnail" alt="">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{pr.name}}</h5>
    <h6 *ngIf="pr.inPromotion">  AKCIÓS!  </h6>
    <h6 *ngIf="pr.outOfStock">ELFOGYOTT</h6>
    <h6 id="default" *ngIf="!pr.inPromotion">    AKCIÓS!                 </h6>
    <p>{{pr.description}} <br>
    {{pr.price}}  Ft</p>
    <div style="display: inline-block ">
      <span class="minus">Mennyiség: </span>
          <label>
            <input type="number"  name="mennyiseg" placeholder="0" min="1" step="1"
               [(ngModel)]="pr.quantity">
          </label>
      <span>{{pr.unit}}</span>
    </div>
    <div>
      <button class="btn btn-outline-dark" [disabled]="pr.quantity == 0 "  (click)="addToCart(pr)">Kosárba</button>
    </div>
  </div>
</div>
