<div class="card mt-5 mb-6" id="card">
  <div *ngIf=retrievedImage>
<img   [src]="retrievedImage" class="img-thumbnail" alt="">
  </div>
  <div *ngIf=!retrievedImage>
    <img   src="../../../assets/eper2.jpg" class="img-thumbnail" alt="">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{pr.name}}</h5>
    <h6 *ngIf="pr.inPromotion">  AKCIÓS!  </h6>
    <h6 *ngIf="pr.outOfStock">ELFOGYOTT</h6>
    <h6 id="default" *ngIf="!pr.inPromotion">    AKCIÓS!                 </h6>
    <p>{{pr.description}} <br>
    {{pr.price}}  Ft/ {{pr.unit}}</p>
    <div style="display: inline-block ">
      <button class="btn" (click)="minusQuantity()"><i class="fa fa-minus-circle"></i></button>
          <label>
            <input type="number"  name="mennyiseg" placeholder="0" min="1" step="1"
               [(ngModel)]="pr.quantity">
          </label>
      <button class="btn" (click)="addQuantity()"><i class="fa fa-plus-circle"></i></button>
    </div>
    <div>
      <button class="btn btn-outline-dark btn-sm"  [disabled]="pr.quantity == 0 "
              ngbPopover="  Megtekintheted a kosárban.
                              Ha 10.000 Ft felett vásárolsz INGYEN kiszállítjuk."
              popoverTitle="{{pr.quantity}} {{pr.unit}}  {{pr.name}} nevű terméket beleraktam a kosaradba!"
              [openDelay]="300" [closeDelay]="2000" triggers="click:mouseleave"
              (click)="addToCart(pr)">Kosárba</button>

    </div>
  </div>
</div>
