<app-header></app-header>
<main>
  <div class="container" >
    <h3>Regisztrációs Űrlap</h3>
    <form (submit)="submit()" [formGroup]="registrationForm">

      <div class="" id="body">
        <!--div class="alert alert-danger" *ngIf="showRegError">
          < {{confirm.message}}>
        </div-->
        <div class="row">
        <div class="col-lg-6">

        <div class="form-group">
          <div class="mb-6 row">
            <label for="inputLastName" class="col-sm-4 col-form-label">Vezetéknév</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm" id="inputLastName"
                     formControlName="lastName"
                     [ngClass]="{'is-invalid': registrationForm.controls.lastName.invalid && registrationForm.controls.lastName.touched}">
              <div class="invalid-feedback" *ngIf="registrationForm.controls.lastName.errors?.required">
                You must give your last name!
              </div>
            </div>
          </div>
        </div>
          <div class="form-group">
            <div class="mb-6 row">
              <label for="inputFirstName" class="col-sm-4 col-form-label">Keresztnév</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="inputFirstName"
                       formControlName="firstName"
                       [ngClass]="{'is-invalid': registrationForm.controls.firstName.invalid && registrationForm.controls.firstName.touched}">
                <div class="invalid-feedback" *ngIf="registrationForm.controls.firstName.errors?.required">
                  You must give your first name!
                </div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <div class="mb-6 row">
            <label for="username" class="col-sm-4 col-form-label">Email cím</label>
            <div class="col-sm-8">
              <input type="email" class="form-control form-control-sm" id="username"
                     aria-describedby="username" formControlName="username"
                     [ngClass]="{'is-invalid': registrationForm.controls.username.invalid && registrationForm.controls.username.touched}">
              <div class="invalid-feedback" *ngIf="registrationForm.controls.username.errors?.required">
                You must give an e-mail address!>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="mb-6 row">
            <label for="exampleInputPassword1" class="col-sm-4 col-form-label">Jelszó</label>
            <div class="col-sm-8">
              <input type="password" class="form-control form-control-sm" id="exampleInputPassword1"
                     formControlName="password"
                     [ngClass]="{'is-invalid': registrationForm.controls.password.invalid && registrationForm.controls.password.touched}">
              <div class="invalid-feedback" *ngIf="registrationForm.controls.password.errors?.required">
                You must give a password!
              </div>
              <div class="invalid-feedback" *ngIf="registrationForm.controls.password.errors?.min">
                Your password must be at least 6 character long!
              </div>
            </div>
          </div>
        </div>
          <div class="form-group">
            <div class="mb-6 row">
              <label for="exampleInputPassword2" class="col-sm-4 col-form-label">Ismételt jelszó</label>
              <div class="col-sm-8">
                <input type="password" class="form-control form-control-sm" id="exampleInputPassword2"
                       formControlName="password2"
                       [ngClass]="{'is-invalid': registrationForm.controls.password2.invalid && registrationForm.controls.password2.touched}">
                <div class="invalid-feedback" *ngIf="registrationForm.controls.password2.errors?.required">
                  You must give a password!
                </div>
                <div class="invalid-feedback" *ngIf="registrationForm.controls.password2.errors?.min">
                  Your password must be at least 6 character long!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <div class="mb-6 row">
              <label for="inputPostCode" class="col-sm-4 col-form-label">Irányítószám</label>
              <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm" id="inputPostCode" min="1000" value="1000"
                       formControlName="postCode_home"
                       [ngClass]="{'is-invalid': registrationForm.controls.postCode_home.invalid && registrationForm.controls.postCode_home.touched}">
                <div class="invalid-feedback" *ngIf="registrationForm.controls.postCode_home.errors?.required">
                  Add meg az irányítószámod!
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="mb-6 row">
              <label for="inputCity" class="col-sm-4 col-form-label">Város</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="inputCity"
                       formControlName="city_home"
                       [ngClass]="{'is-invalid': registrationForm.controls.city_home.invalid && registrationForm.controls.city_home.touched}">
                <div class="invalid-feedback" *ngIf="registrationForm.controls.city_home.errors?.required">
                  You must give your city!
                </div>
              </div>
            </div>
          </div>
        <div class="form-group">
          <div class="mb-6 row">
            <label for="inputAddress" class="col-sm-4 col-form-label">Lakcím</label>
            <div class="col-sm-8">
              <input type="text" class="form-control form-control-sm" id="inputAddress"
                     formControlName="simpleAddress_home"
                     [ngClass]="{'is-invalid': registrationForm.controls.simpleAddress_home.invalid && registrationForm.controls.simpleAddress_home.touched}">
              <div class="invalid-feedback" *ngIf="registrationForm.controls.simpleAddress_home.errors?.required">
                You must give your address!
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="mb-6 row">
            <label for="inputPhoneNumber" class="col-sm-4 col-form-label">Telefonszám</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control form-control-sm" id="inputPhoneNumber"
                     formControlName="phoneNumber"
                     [ngClass]="{'is-invalid': registrationForm.controls.phoneNumber.invalid && registrationForm.controls.phoneNumber.touched}">
              <div class="invalid-feedback" *ngIf="registrationForm.controls.phoneNumber.errors?.required">
                You must give your phone number!
              </div>
            </div>
          </div>
        </div>
          <div class="form-group">
            <div class="mb-6 row">
              <label class="col-sm-6 col-form-label"> Szeretnél más szállítási vagy számlázási címet megadni?:</label>
              <div class="col-sm-6">
                <div class="btn btn-toggle">
                  <label class="btn-primary" ngbButtonLabel>
                    <input type="checkbox" formControlName="isMoreAddress" ngbButton [(ngModel)]="isMoreAddress"> Igen, szeretnék
                  </label>

                </div>

              </div>
            </div>
          </div>

        <div class="row" id="row1">
          <p>Sikeres regisztráció esetén, emailt küldünk! </p>
          <button  id="submit" type="submit" class="btn btn-outline-dark" [disabled]="registrationForm.invalid">Regisztráció
          </button>
        </div>
      </div>
      </div>
        <div class="container" *ngIf="isMoreAddress">
          <div class="row">
            <div class="col-lg-6">
              <h5>Szállítási Cím:</h5>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputPostCode2" class="col-sm-4 col-form-label">Irányítószám</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="inputPostCode2" min="1000" value="1000"
                           formControlName="postCode_delivery"
                           [ngClass]="{'is-invalid': registrationForm.controls.postCode_delivery.invalid && registrationForm.controls.postCode_delivery.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.postCode_delivery.errors?.required">
                      Add meg az irányítószámod!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputCity2" class="col-sm-4 col-form-label">Város</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="inputCity2"
                           formControlName="city_delivery"
                           [ngClass]="{'is-invalid': registrationForm.controls.city_delivery.invalid && registrationForm.controls.city_delivery.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.city_delivery.errors?.required">
                      You must give your city!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputAddress2" class="col-sm-4 col-form-label">Szállítási cím</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="inputAddress2"
                           formControlName="simpleAddress_delivery"
                           [ngClass]="{'is-invalid': registrationForm.controls.simpleAddress_delivery.invalid && registrationForm.controls.simpleAddress_delivery.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.simpleAddress_delivery.errors?.required">
                      You must give your address!
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h5>Számlázási Cím:</h5>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputPostCode3" class="col-sm-4 col-form-label">Irányítószám</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control form-control-sm" id="inputPostCode3" min="1000" value="1000"
                           formControlName="postCode_delivery"
                           [ngClass]="{'is-invalid': registrationForm.controls.postCode_billing.invalid && registrationForm.controls.postCode_billing.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.postCode_billing.errors?.required">
                      Add meg az irányítószámod!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputCity3" class="col-sm-4 col-form-label">Város</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="inputCity3"
                           formControlName="city_billing"
                           [ngClass]="{'is-invalid': registrationForm.controls.city_billing.invalid && registrationForm.controls.city_billing.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.city_billing.errors?.required">
                      You must give your city!
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="mb-6 row">
                  <label for="inputAddress3" class="col-sm-4 col-form-label">Számlázási cím</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm" id="inputAddress3"
                           formControlName="simpleAddress_billing"
                           [ngClass]="{'is-invalid': registrationForm.controls.simpleAddress_billing.invalid && registrationForm.controls.simpleAddress_billing.touched}">
                    <div class="invalid-feedback" *ngIf="registrationForm.controls.simpleAddress_billing.errors?.required">
                      You must give your address!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</main>
<app-footer></app-footer>
