<app-header></app-header>
<main>
<div class="container">
  <h4 style="text-align: center">Megrendelő lap</h4>
  <div class="row">

    <div class="col-lg-6" *ngIf=" firstName !== '' && firstName !== null">
      <h5> Személyes adataid:</h5>
      <div class="mb-6 row">
        <label class="col-sm-4">Név:</label>
        <div class="col-sm-8">
          <p>{{user.lastName}}  {{user.firstName}}</p>
        </div>
      </div>
      <div class="mb-6 row">
        <label class="col-sm-4">Cím:</label>
        <div class="col-sm-8">
          <p>{{user.postCode_delivery}}  {{user.city_delivery}}</p>
          <p>{{user.simpleAddress_delivery}}</p>
        </div>
      </div>
      <div class="mb-6 row">
        <label class="col-sm-4">Telefonszám:</label>
        <div class="col-sm-8">
          <p>{{user.phoneNumber}} </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6" *ngIf=" firstName === '' || firstName === null">
      <h5>Nem vagy bejelentkezve. Jelentkezz be vagy töltsd ki az űrlapot.</h5>
    <form  (submit)="submit()" [formGroup]="registrationForm">
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputLastName" class="col-sm-4 col-form-label">Vezetéknév</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputLastName"
                   formControlName="lastName"
                   [ngClass]="{'is-invalid': registrationForm.controls.lastName.invalid && registrationForm.controls.lastName.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.lastName.errors?.required">
              You must give your last name!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputFirstName" class="col-sm-4 col-form-label">Keresztnév</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputFirstName"
                   formControlName="firstName"
                   [ngClass]="{'is-invalid': registrationForm.controls.firstName.invalid && registrationForm.controls.firstName.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.firstName.errors?.required">
              You must give your first name!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="username" class="col-sm-4 col-form-label">Email cím</label>
          <div class="col-sm-8">
            <input type="email" class="form-control form-control-sm" id="username"
                   aria-describedby="username" formControlName="username"
                   [ngClass]="{'is-invalid': registrationForm.controls.username.invalid && registrationForm.controls.username.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.username.errors?.required">
              You must give an e-mail address!>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputPostCode" class="col-sm-4 col-form-label">Irányítószám</label>
          <div class="col-sm-8">
            <input type="number" class="form-control form-control-sm" id="inputPostCode" min="1000" value="1000"
                   formControlName="postCode_delivery"
                   [ngClass]="{'is-invalid': registrationForm.controls.postCode_delivery.invalid && registrationForm.controls.postCode_delivery.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.postCode_delivery.errors?.required">
              Add meg az irányítószámod!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputCity" class="col-sm-4 col-form-label">Város</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputCity"
                   formControlName="city_delivery"
                   [ngClass]="{'is-invalid': registrationForm.controls.city_delivery.invalid && registrationForm.controls.city_delivery.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.city_delivery.errors?.required">
              You must give your city!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputAddress" class="col-sm-4 col-form-label">Szállítási cím</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="inputAddress"
                   formControlName="simpleAddress_delivery"
                   [ngClass]="{'is-invalid': registrationForm.controls.simpleAddress_delivery.invalid && registrationForm.controls.simpleAddress_delivery.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.simpleAddress_delivery.errors?.required">
              You must give your address!
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="mb-6 row">
          <label for="inputPhoneNumber" class="col-sm-4 col-form-label">Telefonszám</label>
          <div class="col-sm-8">
            <input type="tel" class="form-control form-control-sm" id="inputPhoneNumber"
                   formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': registrationForm.controls.phoneNumber.invalid && registrationForm.controls.phoneNumber.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.phoneNumber.errors?.required">
              You must give your phone number!
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>

      <div class="col-lg-6">
        <h5>Kosárba rakott termékeid:</h5>
        <table class="table table-striped table-responsive table-borderless">
          <thead>
          <tr>
            <th scope="col">Termék neve</th>
            <th scope="col">Mennyiség</th>
            <th scope="col">Egységár</th>
            <th scope="col">Ár</th>
            <!--      <th scope="col">Subtotal</th>-->
            <th scope="col">Törlés</th>
          </tr>
          </thead>
          <tbody id="tbody">
          <tr app-product-row *ngFor="let s of productsInCart" [orderedProduct]="s" (delete)="delete(s)"></tr>
          <tr>
            <td class="table align-middle" colspan= "5" *ngIf="productsInCart.length === 0">A kosár még üres.</td>
          </tr>
          <tr>
            <td class="table align-middle" colspan= "3">{{productsInCart.length}} soros a terméklista. Termékek összesített ára:</td>
            <td class="table align-middle" colspan= "2"> <h5>{{sumPrice}} Ft.</h5></td>
          </tr>
          <tr>
            <td class="table align-middle" colspan= "3">Szállítási költség: </td>
            <td class="table align-middle" colspan= "2"> <h5>{{order.deliveryFee}} Ft.</h5></td>
          </tr>
          <tr>
            <td class="table align-middle" colspan= "3"> Fizetendő: </td>
            <td class="table align-middle" colspan= "2"> <h5>{{maxPrice}} Ft.</h5></td>
          </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-6">
        <h5>Szállítási napok: </h5>
        </div>
        <div class="col-sm-6" *ngIf="deliveryDates.length == 2">
        <form [formGroup]="reactiveForm2">
          <div class="form-check">
            <input type="radio" class="form-check-input" id="date1" [value]="0"
                   formControlName="reactiveRadio2" name="reactiveRadio2">
            <label class="form-check-label" for="date1">{{deliveryDates[0].year}}. {{deliveryDates[0].month}}
               {{deliveryDates[0].dayOfTheMonth}} , {{deliveryDates[0].dayOfWeek}}</label>
          </div>

          <div class="form-check">
            <input type="radio" class="form-check-input" id="date2" [value]="1"
                   formControlName="reactiveRadio2" name="reactiveRadio2">
            <label class="form-check-label" for="date2">{{deliveryDates[1].year}}. {{deliveryDates[1].month}}
               {{deliveryDates[1].dayOfTheMonth}} , {{deliveryDates[1].dayOfWeek}}</label>
          </div>
        </form>
        </div>
      </div>
      <div *ngIf="i !== 2">
      <form  (submit)="submit()" [formGroup]="deliveryForm">
      <div class="form-group">
        <div class="mb-6 row">
          <label for="formControl-deliveryGapsID" class="col-sm-6 col-form-label"> Szállítási időpontok:{{i}}</label>
          <div class="col-sm-6">
            <select class="form-control" id="formControl-deliveryGapsID" formControlName="deliveryGapsID" name="deliveryGapsID"
                    [ngClass]="{'is-invalid': deliveryForm.controls.deliveryGapsID.invalid && deliveryForm.controls.deliveryGapsID.touched}">
              <option></option>
              <option *ngFor="let u of deliveryDates[i].listOfGaps" [value]="u.deliveryGapsID">{{u.deliveryGapString}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="deliveryForm.controls.deliveryGapsID.errors?.required">Válasz idöpontot.</div>
          </div>
        </div>
      </div>
      </form>
      </div>
    </div>

    <div class="col-lg-6" id="fizet">
      <h5> Fizetési Mód:</h5>
         <div *ngIf=" firstName === '' || firstName === null">
            <span>Csak Barionos fizetés elérhetö!</span>
         </div>
       <div *ngIf=" firstName !== '' && firstName !== null">
          <form [formGroup]="reactiveForm">
            <div class="form-check">
               <input type="radio" class="form-check-input" id="materialUnchecked2" [value]="0"
                 formControlName="reactiveRadio" name="reactiveRadio">
               <label class="form-check-label" for="materialUnchecked2">Átvételkor kézpénzzel</label>
           </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="materialChecked2" [value]="1"
                 formControlName="reactiveRadio" name="reactiveRadio">
          <label class="form-check-label" for="materialChecked2">Átvételkor kártyával</label>
        </div>
      </form>
    </div>
  </div>
  </div>
  <div  class="alert alert-success" *ngIf="showRespSuccess" >
    Megrendelését továbbítottuk, azonosítója: {{orderResp.ID}}
  </div>
  <div  style="text-align: right">
    <button type="button" class="btn btn-outline-dark" routerLink="/main">Vissza</button>
    <button type="submit" class="btn btn-outline-success " (click)="submit()"
            [disabled]="((this.i === 2)|| (this.sumPrice === 0) || ((this.firstName == ''
      || this.firstName == null) && this.registrationForm.invalid) || deliveryForm.invalid)"
    >Megrendelés</button>

  </div>

  </div>
</main>
<app-footer></app-footer>
