<app-header></app-header>
<main>
  <div class="container">
    <div class="row" id="row2">
      <h3>Összes termékkategóriák táblázata</h3>
      <button type="button" class="btn btn-outline-dark" routerLink="/product-category-new">Új termékkategória felvétele</button>
    </div>
    <table class="table table-striped table-bordered ">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Név</th>
        <th scope="col">ŐsosztályID</th>
        <th scope="col">Ősosztály név</th>
      </tr>
      </thead>
      <tbody id="tbody">
      <tr app-product-category-table-row *ngFor="let category of categoriesArr" [category]='category'></tr>

      </tbody>
    </table>
    <button type="button" class="btn btn-outline-secondary" routerLink="/product-maintenance">Vissza a termékek oldalára.</button>
  </div>
</main>
<app-footer></app-footer>
