<app-header></app-header>
<main>
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card" id="card1">
        <div class="card-header" id="headingOne">
          <h4 class="mb-0">
            <div class="item text-center"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Gyümölcs doboz ajánlat
            </div>
          </h4>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
            <h5>
           Válasszd ezt a lehetőséget! ha szeretnél változatosan különböző gyümölcsöket kapni.
            </h5>
              </div>
              <div class="col-6">
              <app-packages-card  [id] = "4"></app-packages-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="card2">
        <div class="card-header" id="headingTwo">
          <h4 class="mb-0">
            <div class="item text-center collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Gyümölcs doboz ajánlat
            </div>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5>
                  Válasszd ezt a lehetőséget! ha szeretnél változatosan különböző gyümölcsöket kapni.
                </h5>
              </div>
              <div class="col-6">
                <app-packages-card  [id] = "14"></app-packages-card>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="card3">
        <div class="card-header" id="headingThree">
          <h4 class="mb-0">
            <div class="item text-center collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Gyümölcs doboz ajánlat
            </div>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <h5>
                  Válasszd ezt a lehetőséget! ha szeretnél változatosan különböző gyümölcsöket kapni.
                </h5>
              </div>
              <div class="col-6">
                <app-packages-card  [id] = "4"></app-packages-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

